body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url(corona.jpg);
  font-family: roboto, sans-serif;
}

header {
  min-height: 8vh;
  background-color: rgba(33, 149, 243, 0.808);
  padding: 0 10px;
}

#logo {
  color: white;
}

#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
}

.li-items {
  display: inline-block;
  padding: 2px 3px;
  margin: 0 5px;
  font-size: 1.2em;
  text-transform: uppercase;
}

#headnav a {
  color: white;
  text-decoration: none;
}

.cover {
  min-height: 92vh;
  display: grid;
  grid-template-columns: 60% 40%;
  justify-content: space-between;
  background-color: rgba(39, 37, 36, 0.801);
  align-items: center;
  color: white;
}

.distancing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 200px;
}

h2 {
  font-size: 2.5em;
  padding: 0 20px;
  text-transform: uppercase;
  color: green;
}

.moreinfo {
  padding: 0 20px;
  font-size: 1.5em;
  text-transform: capitalize;
  letter-spacing: 2px;
  word-spacing: 5px;
  color: rgb(255, 255, 255);
  margin-right: 20px;
}

#distance {
  margin-bottom: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
  margin-left: 20px;
}